*.iml
.gradle
/local.properties
.idea
.DS_Store
build
/buildSrc/build
/captures
.externalNativeBuild
.cxx
local.properties
secret.properties
debug.keystore
/docs/api

# Do not commit plain-text signing info
release/*.properties
release/*.gpg